@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root{
    --clr-Blue: hsl(220, 98%, 61%);
    --clr-checked: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    
    /* Dark Theme */;
    --clr-1: hsl(235, 21%, 11%);
    --clr-2: hsl(235, 24%, 19%);
    --clr-3: hsl(234, 11%, 52%);
    --clr-4: hsl(235, 19%, 35%);
    --clr-5: hsl(237, 14%, 26%);
    --clr-6: hsl(0, 0%, 98%);
    --clr-7: hsl(233, 11%, 84%);
    --clr-hover: hsl(236, 33%, 92%);
    --toggle-image: url(./images/icon-sun.svg); 
}

:root.light{
    /* Light Theme */
    --clr-1: hsl(236, 33%, 92%);
    --clr-2: hsl(0, 0%, 98%);
    --clr-3: hsl(234, 11%, 52%);
    --clr-4: hsl(236, 33%, 92%);
    --clr-5: hsl(236, 33%, 92%);
    --clr-6: hsl(0, 0%, 98%);
    --clr-7: hsl(235, 24%, 19%);
    --clr-hover: hsl(237, 14%, 26%);
    --toggle-image: url(./images/icon-moon.svg); 
}

/* Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
    letter-spacing: 0.8rem;
    color: var(--clr-6);
    text-transform: uppercase;
}

.mode-toggle,
.checkbox,
.delete,
.clear-all,
.filter-list > *{
    cursor: pointer;
}


/* Mode Toggle */
.mode-toggle{
    width: 2rem;
    height: 2rem;
    background-image: var(--toggle-image);
    background-repeat:  no-repeat;
    transition: 0.5s ease-in-out;
}

.mode-toggle.light{
    background-image: var(--toggle-image);
    transition: 0.5s ease-in-out;
}


/* Body */
body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    min-height: 100vh;
    background-color: var(--clr-1);
    color: var(--clr-7);
    display: flex;
    flex-direction: column;
    place-items: center;
}


/* Header  */
header{
    display: grid;
    align-items: center;
    min-height: 35vh;
    width: 100%;
    background-image: url(./images/bg-mobile-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.heading,
.container{
    width: 90%;
    max-width: 30rem;
    margin-inline: auto;
}

/* .container */
main{
    width: 100%;
}

.container{
    margin-block-start: -3.5rem
}

.container > *{
    background-color: var(--clr-2);
}


/* FORM  */
form{
    margin-block-end: 1.2rem;
    border-radius: 7px;
    align-items: center;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
}

form input{
    background-color: transparent;
    border: none;
    outline: none;
    font: inherit;
    color: currentColor;
    vertical-align: -3px;
    flex-basis: 100%;
    padding: 0.5rem 1rem;
}

form .checkbox{
    background-color: transparent;
}


/* TODO SECTION  */
.checkbox{
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid var(--clr-4);
    border-radius: 100vmax;
}


.checkbox:hover,
.checkbox:focus{
    border-radius: 50%;
    border: 1px solid var(--clr-Blue);
    /* border-image: var(--clr-checked) 1;
    border-image-slice: fill; */

}

.checkbox.checked{
    background-image: url(./images/icon-check.svg), var(--clr-checked);
    background-repeat: no-repeat;
    background-position: center;
}

.delete{
    width: 1rem;    
}


.todo-container{
    border-radius: 7px 7px 0 0;
    display: block;
}


.todo-list,
.complete{
    border-bottom: 2px solid var(--clr-5);
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.list{
    width: 85%;
}

.list.active{
    text-decoration: line-through;
    opacity: 0.3;
}

.todo-completed{
    display: none;
}


.todo-footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    padding: 1rem;
    border-radius: 0 0 7px 7px;
    color: var(--clr-3);
    font-size: 0.9rem;
}

.todo-footer p:hover{
    color: var(--clr-hover);
}

.remaining-list{
    grid-column: 1;
}

.filter-list{
    background-color: var(--clr-2);
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    position: absolute;
    top: 4rem;
    border-radius: 7px;
    font-weight: 700;
}

.current{
    color: var(--clr-Blue);
}

.clear-all{
    grid-column: 2;
    justify-self: flex-end;
}

.drag{
    margin: 7rem auto 1rem;
    text-align: center;
    color: var(--clr-3);
    visibility: hidden;
}

/* FOOTER  */
.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-block: 1rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 60rem) {
    header{
        min-height: 40vh;
        background-image: url(./images/bg-desktop-dark.jpg);
    }
    
    .heading,
    .container{
        width: 50%;
        max-width: 50rem;
    }
    
    .todo-footer{
        grid-template-columns: repeat(3, 1fr);
    }
    
    .filter-list{
        gap: 1rem;
        padding: unset;
        position: unset;
        grid-column: 2;
    }
    
    .clear-all{
        grid-column: 3;
    }

    .drag{
        margin-block-start: 3.5rem;
    }
}




